<mat-toolbar color="primary">
  <span>Aplicativo do tempo</span>
</mat-toolbar>
<div fxLayoutAlign="center">
  <div class="mat-caption vertical-margin">Sua cidade, sua previsão, aqui e agora!</div>
</div>
<div fxLayoutAlign="center">
  <app-busca-cidade></app-busca-cidade>
</div>
<div fxLayout="row">
  <div fxFlex></div>
  <mat-card fxFlex="300px">
    <mat-card-header>
      <mat-card-title>
        <div class="mat-headline">Tempo agora</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-tempo-atual></app-tempo-atual>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="300px">
    <mat-card-header>
      <mat-card-title>
        <div class="mat-headline">Poluicao</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-poluicao></app-poluicao>
    </mat-card-content>
  </mat-card>

  <div fxFlex></div>
</div>
