<!--<div *ngIf="tempo"> -->
<div fxLayout="row">
  <div fxFlex class="right mat-subheading-2 no-margin">{{'03/08/2022' | date:'dd/MM/yyyy' }}</div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="66%" fxLayoutAlign="center center">
    <p>
      <span class="mat-headline">Qualidade do ar: Bom</span>
    </p>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex class="right no-margin">
    <p class="mat-display-4">
      <span class="mat-display-1 unit">℉ : </span>
      <span class="mat-display-1 unit">℉</span>
      <span class="mat-display-1 unit">℉</span>
      <span class="mat-display-1 unit">℉</span>
      <span class="mat-display-1 unit">℉</span>
      <span class="mat-display-1 unit">℉</span>
      <span class="mat-display-1 unit">℉</span>
      <span class="mat-display-1 unit">℉</span>
    </p>
  </div>
</div>
